/* Global styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: url(../img/Ellipse188.png) no-repeat right top #012651;
}

a {
    text-decoration: none;
    color: #EFF3FF;
}

/* Layouts Styles */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

header {
    margin-top: 40px;
    margin-bottom: 80px
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;

}

.nav__logo {
    color: #FEA05D;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
}

.nav__auth {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.btn {
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: inherit;
    transition: all 0.5s;
    
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover {
    color: #933A14;
    background-color: #FFA161;
    border: 1px solid #FFA161;
}

.btn-secondary {
    color: #933A14;
    background-color: #FFA161;
    border: 1px solid #FFA161;
}

.btn-secondary:hover {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}


.hero {
    display: flex;
    margin-bottom: 80px;
}


.pretitle {
    color: #FEA05D;
    line-height: 24px;
    letter-spacing: 1.1px;
}

.hero__text-container {
    margin-top: 70px;
}

.title {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: white;
    position: relative;
}

.title--orange {
    color: #FEA05D;
}

/* .hero__title::after {
    content: '';
    background: url(../img/arrow.png) no-repeat center;
    display: block;
    height: 199px;
    width: 100px;

} */

.subtitle {
    color: #fff;
    margin-bottom: 40px;
    opacity: 0.7;

}

.hero__btns {
    display: flex;
    gap: 25px;
}

.hero__text-container img {
    position: absolute;
    left: 280px;
    top: 490px;
}

.info {
    margin-bottom: 120px;
}


.info__text-container {
    max-width: 440px;
    width: 100%;
}

.info__pretitle {
    color: #FEA05D;
    line-height: 24px;
    letter-spacing: 1.1px;
}

.info__title {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
}

.info__subtitle {
    font-size: inherit;
    opacity: 0.7;
    color: #fff;
    margin-bottom: 40px;
}

.card {

    height: 348px;
    border-radius: 15px;
    background: rgba(61, 137, 225, 0.16);
    text-align: center;
    padding: 36px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .btn-primary {
    color: #933A14;
    background-color: #FFA161;
    border: 1px solid #FFA161;
}

.pic-container {
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: rgb(17, 67, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.card__title {
    color: #fff;

}

.card__text {
    color: #fff;
    opacity: 0.7;
    margin-bottom: 8px;
    font-size: 14px;

}

.info__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


.package-offer {
    margin-bottom: 140px;
}

.package__text-container {
    text-align: center;
    margin-bottom: 40px;
}

.monthly-or-yearly {
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 20px;
}

.checkbox {
    position: relative;
    cursor: pointer;
    margin: 0 25px;
}

.checkbox input {
    opacity: 0;
    position: absolute;
}

.checkbox input + span {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background: #486385;
    border-color: #486385;
    transition: all 0.3s ease-in-out;
}

.checkbox input + span::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    transition: all 0.4s ease;
}

.checkbox input:checked + span {
    box-shadow: inset 0 0 0 10px green;
}

.checkbox input:checked + span::after {
    left: 30px;
}

.package__text-container .subtitle {
    margin-top: 20px;
}

.package__text-container .pretitle {
    text-transform: uppercase;
    font-size: 20px;
}

.recomendation-text {
    margin-top: 24px;
    color: #FFA161;
    position: relative;
}

.recomendation-text::after {
    content: url(/img/arrow-2.png);
    position: absolute;
    bottom: -2px;
    margin-left: 8px;
}






.pricing-variants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}



.p-variant {
    height: 600px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.p-variant:hover {
    transform: scale(1.05);
    border: none;
    background: #0B3668;
    

}

.p-variant:hover .btn-primary{
    color: #933A14;
    background-color: #FFA161;
    border: 1px solid #FFA161;
}

.cost span:first-child {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
}

.cost span + span{
    font-size: 14px;
    opacity: 0.7;
    color: #fff;
}

.pricing-name {
    margin-top: 15px;
    color: #fff;
}

.pricing-text {
    font-size: 14px;
    opacity: 0.7;
    margin: 25px 0;

}

.pricing-features {
    padding: 32px;
}

.pricing-first-data {
    border-bottom: 1px solid #fff;
    padding: 32px 32px 0;
}

.features-list {
    list-style-type: none;
    margin-bottom: 25px;
}

.f-list-item {
    position: relative;
    margin-left: 56px;
    margin-top: 25px;
}

.tick-img::before {
    position: absolute;
    top: 0;
    left: -50px;
    content: url(/img/tick.png);
    width: 22px;
    height: 22px;
    

}

.cross-img::before {
    position: absolute;
    top: 0;
    left: -50px;
    content: url(/img/cross.png);
    width: 22px;
    height: 22px;
}

.pricing-features .btn {
    width: 100%;
}


.newsletter {
    background: rgba(61, 137, 225, 0.16);
    width: 100vw;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;

}

.newsletter-container .title {
    font-size: 40px;
}

.newsletter-container input {
    height: 64px;
    width: 484px;
    background: rgba(218, 235, 255, 0.16);
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
}

.footer {
    padding: 50px 0 30px;
    display: flex;
    justify-content: space-between;
}

.main-content .nav__logo{
    margin-bottom: 16px;
}

.icon-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.icon-container img {
    height: 30px;
    width: 30px;
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;

}

.list-item {
    opacity: 0.7;
    font-size: 14px;

}

.other-content {
    display: flex;
    gap: 100px;
}

